@charset "utf-8";

body {
    font-family:Arial, sans-serif;
    background-color:#E3FDF8;
}

h1	{
    font-family: Arial, sans-serif;
    font-size: 1.5em;
    color:#5C5C5C;
}

h2 {
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size:1.2em;
    color:#606060;
    margin: 25px;
}

a {
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: .75em;
    text-decoration:none;
    color:#323232;
}

a:hover {
    text-decoration:underline;
    color:#352DCE;
    background-color:#efecec;
}